<div class="pic1 img-bg-cover" 
		 style="background-image: url('/img/partner/合作夥伴-02.jpg'); background-position: center 90%;"></div>

<div class="partner_wrap">
	<div class="main_title" style="margin-left:10vw;"><b>Partner</b></div>

	<% if @partners.organizer.size > 0 %>
		<section class="wrapper_big" style="margin-top: 6%;">
			<div class="partner_title">
				主辦單位
			</div>
			<div class="partner_line flex-l6-m2-jfs-">
				<%= render partial: "partner_line", collection: @partners.organizer, as: :partner %>
			</div>
		</section>
	<% end %>

	<% if @partners.co_organizer.size > 0 %>
		<section class="wrapper_big">
			<div class="partner_title">
				協辦單位
			</div>
			<div class="partner_line flex-l6-m2-jfs-">
				<%= render partial: "partner_line", collection: @partners.co_organizer, as: :partner %>
			</div>
		</section>
	<% end %>

	<% if @partners.exhibitor.size > 0 %>
		<section>
			<div class="wrapper_big">
				<div class="partner_title">
					參展團隊
				</div>
				<div class="partner_line flex-l6-m2-jfs-">
					<%= render partial: "partner_line", collection: @partners.exhibitor, as: :partner %>
				</div>
			</div>
		</section>
	<% end %>

	<% if @partners.community_partner.size > 0 %>
		<section class="wrapper_big">
			<div class="partner_title">
				社群夥伴
			</div>
			<div class="partner_line flex-l6-m2-jfs-" style="margin-left: 0%;">
				<%= render partial: "partner_line", collection: @partners.community_partner, as: :partner %>
			</div>
		</section>
	<% end %>

	<% if @partners.media.size > 0 %>
		<section class="wrapper_big" style="margin-bottom:200px;">
			<div class="partner_title">
				媒體夥伴
			</div>
			<div class="partner_line flex-l6-m2-jfs-" style="margin-left: 0%;">
				<%= render partial: "partner_line", collection: @partners.media, as: :partner %>
			</div>
		</section>
	<% end %>

</div>