<div class="wrapper_big speakers">
  <br><br><br><br><br><br><br><br><br>
  <div class="main_title"><b>Speakers</b></div>
  <!-- <h2 class="flex-ac-jfs-">
    <br><br><br>
    <img class="mouse-icon" src="/img/speaker/icon.svg" alt="">
    <b>If you want to see more, please click these pictures.</b>
  </h2> -->
  <div class="speakers-container">
    <!-- <div class="box" data-pop="9">
      <img src="/img/speaker/Chun Ji woong.jpg" alt="">
      <div class="text">
        <h3>Chun Ji Woong</h3>
        <p>Team Manager at KTB Network</p>
      </div>
    </div>
    <div class="box" data-pop="32">
      <img src="/img/speaker/esther wang.jpg" alt="">
      <div class="text">
        <h3>王春淑</h3>
        <p>Founder of Joytingle</p>
      </div>
    </div> -->
    <% @speakers.each_with_index do |speaker, index| %>
      <div class="box" data-pop="<%= 33 + index %>">
        <% if speaker.cover.attached? %>
          <%= image_tag speaker.cover, alt: speaker.i18n_title %>
        <% end %>
        <div class="text">
          <h3 class="<%= render_chinese_class(speaker.i18n_name) %>"><%= speaker.i18n_name %></h3>
          <p><%= speaker.i18n_title %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id="pop-up">
  <div class="close"></div>
  <!-- <div class="pop-content" data-pop-show="9">
    <div class="img img-bg-cover" style="background-image: url('/img/speaker/Chun Ji woong.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/img/speaker/Chun Ji woong.jpg');"></div>
        <div class="text-title">
          <h2>Chun Ji Woong</h2>
          <h3>Team Manager at KTB Network</h3>
        </div>
      </div>
      <p>
       Ji Woong 在2016 年獲得韓國KTB Network 的最佳創投獎，同時也是多家位於韓國、中國、英國的生技公司董事。在任職於KTB Network 之前，Ji Woong 曾是Daiichi Sankyo 藥廠諸多臨床試驗的管理者，也曾於CKD Pharmaceuticals 擔任研究科學家。Ji Woong 同時也是一名韓國的註冊藥師，具有首爾大學藥學系碩士的學歷。
      </p>
    </div>
  </div>
 
  <div class="pop-content" data-pop-show="11">
    <div class="img img-bg-cover" style="background-image: url('/img/speaker/黃欣宜.png');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/img/speaker/黃欣宜.png');"></div>
        <div class="text-title">
          <h2>黃欣宜</h2>
          <h3>Founder of Warmie Health</h3>
        </div>
      </div>
      <p>
       黃欣宜，小暖健康創辦人，同時擁有音樂家的靈魂。畢業於臺北醫學大學醫務管理學系。大學時期，從豐富的社團、創業活動與比賽的經驗當中，摸索學習並演繹創新、創業的樂趣，並相信創業不僅能夠創造價值，更能因此改變社會。
      </p>
    </div>
  </div> -->
  <% @speakers.each_with_index do |speaker, index| %>
    <div class="pop-content" data-pop-show="<%= 33 + index %>">
      <% if speaker.cover.attached? %>
        <div class="img img-bg-cover" style="background-image: url('<%= url_for speaker.cover %>');"></div>
      <% end %>
      <div class="text">
        <div class="text-header">
          <% if speaker.cover.attached? %>
            <div class="text-img img-bg-cover" style="background-image: url('<%= url_for speaker.cover %>');"></div>
          <% end %>
          <div class="text-title">
            <h2 class="<%= render_chinese_class(speaker.i18n_name) %>"><%= speaker.i18n_name %></h2>
            <h3><%= speaker.i18n_title %></h3>
          </div>
        </div>
        <%= simple_format speaker.i18n_description %>
      </div>
    </div>
  <% end %>

</div>
<script>
  $(document).on('click', '.box', function() {
    let t = $(this).data('pop')
    $('#pop-up').fadeIn(300);
    $('.pop-content').removeClass('active');
    $('.pop-content[data-pop-show="' + t + '"]').addClass('active');
  })

  $(document).on('click', '#pop-up .close', function() {
    $('#pop-up').fadeOut(300);
    $('.pop-content').removeClass('active');
  })
</script>