<div class="col-12 mb-4" id="person-<%= person.id %>">
	<div class="card p-3">
		<div class="list-group list-group-flush">
			<li class="list-group-item flex-column align-items-start">
		    <div class="d-flex w-100 justify-content-between">
		      <h5 class="mb-2"><%= Person.human_attribute_name("cover") %></h5>
		    </div>
		    <p class="mb-1">
		    	<% if person.cover.attached? %>
	          <%= image_tag person.cover, class: "img-fluid-width" %>
	        <% else %>
	          <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
	        <% end %>
	      </p>
		  </li>
		  <% unless request.path[/partner/].present? %>
			  <li class="list-group-item flex-column align-items-start">
			    <div class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1"><%= Person.human_attribute_name("en_name") %></h5>
			    </div>
			    <p class="mb-1">
			    	<% if person.en_name.present? %>
		          <%= person.en_name %>
		        <% else %>
		          <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
		        <% end %>
		      </p>
			  </li>
			  <li class="list-group-item flex-column align-items-start">
			    <div class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1"><%= Person.human_attribute_name("zh_name") %></h5>
			    </div>
			    <p class="mb-1">
			    	<% if person.zh_name.present? %>
		          <%= person.zh_name %>
		        <% else %>
		          <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
		        <% end %>
		      </p>
			  </li>
			  <li class="list-group-item flex-column align-items-start">
			    <div class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1"><%= Person.human_attribute_name("en_title") %></h5>
			    </div>
			    <p class="mb-1">
			    	<% if person.en_title.present? %>
		          <%= person.en_title %>
		        <% else %>
		          <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
		        <% end %>
		      </p>
			  </li>
			  <li class="list-group-item flex-column align-items-start">
			    <div class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1"><%= Person.human_attribute_name("zh_title") %></h5>
			    </div>
			    <p class="mb-1">
			    	<% if person.zh_title.present? %>
		          <%= person.zh_title %>
		        <% else %>
		          <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
		        <% end %>
		      </p>
			  </li>
			  <li class="list-group-item flex-column align-items-start">
			    <div class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1"><%= Person.human_attribute_name("en_description") %></h5>
			    </div>
		    	<% if person.en_description.present? %>
	          <%= simple_format person.en_description, class: "mb-1" %>
	        <% else %>
				    <p class="mb-1">
	  	        <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
	  	      </p>
	        <% end %>
		      </p>
			  </li>
			  <li class="list-group-item flex-column align-items-start">
			    <div class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1"><%= Person.human_attribute_name("zh_description") %></h5>
			    </div>
		    	<% if person.zh_description.present? %>
	          <%= simple_format person.zh_description, class: "mb-1" %>
	        <% else %>
				    <p class="mb-1">
	  	        <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
	  	      </p>
	        <% end %>
		      </p>
			  </li>
			<% end %>

			<% if request.path[/partner/].present? %>
			  <li class="list-group-item flex-column align-items-start">
			    <div class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1"><%= Person.human_attribute_name("link") %></h5>
			    </div>
		    	<% if person.link.present? %>
	          <%= simple_format person.link, class: "mb-1" %>
	        <% else %>
				    <p class="mb-1">
	  	        <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
	  	      </p>
	        <% end %>
		      </p>
			  </li>
			<% end %>

		  <li class="list-group-item flex-column align-items-start">
	      <%= link_to I18n.t('text.edit'), edit_admin_person_path(person), class: "btn btn-primary" %>
	      <%= link_to I18n.t('text.destroy'), [:admin, person], method: :delete, data: { confirm: I18n.t("text.confirm_destroy") }, class: "btn btn-danger btn-sm float-right" %>
	    </li>
		</div>
	</div>
</div>