<%= link_to admin_people_path(anchor: "person-#{@person.id}"), class: "btn btn-link" do %>
  &#8592; <%= I18n.t('text.back') %>
<% end %>
<h1 class="h2"><%= I18n.t('text.edit') %><%= Person.model_name.human %></h1>
<%= render "admin/people/form", person: @person %>