<header id="header" style="z-index: 12;">
  <a href="/">
    <img src="/img/main/logo.svg" alt="" >
  </a>
  <nav class="nav">
    <ul>
      <li><a href="<%= aboutTRANS_path %>">About TRANS</a></li>
      <li><a href="<%= speaker_path %>">Speaker</a></li>
      <li><a href="<%= agenda_path %>">Agenda</a></li>
      <li><a href="<%= communityPartner_path %>">Partner</a></li>
      <li><a href="<%= faq_path %>">FAQ</a></li>
      <li><a href="<%= review_path %>">Review</a></li>
      <li id="register"><a href="<%= register_path %>">Register Now</a></li>
      <li class="hidden-on-small"><a href="<%= url_for(locale: 'zh-TW') %>">CH</a></li>
      <li class="hidden-on-small"><a href="<%= url_for(locale: 'en') %>">EN</a></li>
    </ul>
  </nav>
  <nav id="mobile-nav">
    <div class="mobile-nav-btn"></div>
  </nav>
  <div id="mobile-nav-list">
    <ul>
      <li><a href="<%= aboutTRANS_path %>">About TRANS</a></li>
      <li><a href="<%= speaker_path %>">Speaker</a></li>
      <li><a href="<%= agenda_path %>">Agenda</a></li>
      <li><a href="<%= communityPartner_path %>">Partner</a></li>
      <li><a href="<%= faq_path %>">FAQ</a></li>
      <li><a href="<%= review_path %>">Review</a></li>
      <li id="register"><a href="<%= register_path %>">Register Now</a></li>
      <li><a href="<%= url_for(locale: 'zh-TW') %>">CH</a></li>
      <li><a href="<%= url_for(locale: 'en') %>">EN</a></li>
    </ul>
  </div>
</header>